#canvasVotos {
  width: 80%;
  margin: auto;
}
body {
  background-color: #484848;
  color: #fff;
}

.navbar {
  background: linear-gradient(to right, #657281, #1d2671);
  color: #fff;
  padding: 20px;
  margin-bottom: 100px;
}

.navbar-logo {
  height: 60px;
  width: auto;
}

@media (max-width: 992px) {
  .navbar-logo {
    height: 40px;
  }
}

.navbar a {
  color: #fff;
}

.btn {
  color: #fff;
  border-color: #1d2671;
  border-radius: 10px;
  background-color: #222;
}

.btn:hover,
.btn:focus {
  color: #fff;
  background-color: #1d2671;
  border-color: #1d2671;
}

.btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-group .btn {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .btn-group .btn {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.dark-mode-btn {
  margin-left: auto;
}

#menuH1,
#votaMunH1,
#votaGenH1,
#recuentoH1 {
  font-family: "Roboto Condensed", sans-serif;
  text-shadow: 2px 2px #333;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 3rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}

label {
  margin-right: 10px;
}

button {
  margin-top: 20px;
}
.container {
  padding-bottom: 20%;
  max-width: 830px;
}
.container-fluid{
 max-width: 830px;
 gap: 50px;
}
p {
  text-align: center;
}
.nav-link{
  margin: 12px;
}
